{
  "plugins": [
    "react",
    "react-hooks",
    "flowtype"
  ],
  "extends": [
  	"plugin:react/recommended", 
  	"plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": { 
  	"ecmaFeatures": { 
  		"jsx": true 
  	}, 
  	"ecmaVersion": 2018, 
  	"sourceType": "module" 
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0,
    "react/no-unescaped-entities": off,
    "react/prop-types": off
  }
}