.bubbleSVG{
	/*outline: 1px solid purple;*/
}

.bubbleText{
	font-size: 16px;
}

.title{
	font-weight: bold;
}

.val{
	font-weight:normal;
}

.clipText{
	z-index: 10;
}

.bubble:hover{
	-webkit-transition: all .4s ease;
 	-moz-transition: all .4s ease;
 	-o-transition: all .4s ease;
 	transition: all .4s ease;
}

.bubble *, .bubble > *, .bubble-child, .bubble-child > *, .bubbleText {
	pointer-events: none;
}