.bubbleSVG{
	/*outline: 1px solid purple;*/
}

.bubbleText{
	font-size: 16px;
}

.title{
	font-weight: bold;
}

.val{
	font-weight:normal;
}

.clipText{
	z-index: 10;
}

.bubbleText{
	fill: rgb(225,225,225);
}