nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    display:inline;
}

nav li{
	display: inline;
}

ul li.liWithIcon{
  list-style-type: none;
  margin-left:0px;
  padding-left:0px;
  display:inline-block;
}

.icon{
  width:50px;
  height:auto;
}