.Axis path,
.Axis line {
  stroke: rgba(224,224,224,.1);
}

.Axis text {
  font-size: 14px;
  fill: #D8D8D8;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  font-size: 1.5em;
  text-anchor: end;
}
