.login-form fieldset{
	border: 0;
	margin: 0; 
	padding:0;
}

.login-form fieldset legend{
	display: none;
}


.login-form label{
	font-size: 14px;
}

#register{
	width:auto;
	background-color: transparent;
	text-decoration: underline;
}