.li {
  text-align: left;
  margin: 0 auto 15px auto;
}

section .li{
	float:none;
	display:block;
	line-height: 1.2;
}

.boldWord{
	font-weight: bold;
	font-size: 1.2em;
}

nav li{
	margin-left: 10px;
	margin-right: 10px;
}

.quick-stats-sub-title{
	font-weight: lighter;
	font-size: .7em;
}