.register-form fieldset{
	border: 0;
	margin: 0; 
	padding:0;
}

.register-form fieldset legend{
	display: none;
}

.register-form input{
	width: 100%;
	height:40px;
	font-size:14px;
	line-height:18px;	
}

input[type='text'],[type='password'] {
	margin-top: 10px;
}

.register-form input[type='submit']{
	background-color: #7591AA;
	margin-top: 10px;
	border-style: none;
}

.register-form label{
	font-size: 14px;
}

#register{
	width:auto;
	background-color: transparent;
	text-decoration: underline;
}