* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Lucida Grande';
  color: rgb(216,216,216);
  background-color: #1A1920;
}

.App * {
	font-family: 'Lucida Grande';
	color: rgb(216,216,216);
}