* {
  box-sizing: border-box;
  line-height: 165%;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  width:100%;
}

main{
  overflow:hidden;
}
li {
  text-align: left;
  margin: 0 auto;
}