nav, footer {
  padding-top:1%;
  background-color: rgba(0,0,0,.8);
}

nav {
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 45px;
  z-index: 10;
}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
}

ul li.liWithIcon{
  margin: 0 auto;
  list-style-type: none;
  display:inline-block;
  width:33%;
  text-align: center;
  line-height: 70px;
}

.liWithIcon a {
  height:55px; 
}

.icon{
  width:45px;
  height:auto;
}

a{
  text-decoration: none;
}

.blurred{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height:60px;
  background-color: rgba(170,170,170,.7);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}