.comparison-list{
	padding: 5px;
    text-align: left;
    margin: 5px 5%;
    border: 1px solid rgba(255,255,255,.3);
}

.comparison-list .value{
	font-size: 1.75em;
}

.comparison-list .count{
	font-size: .7em;
	font-weight: lighter;
	margin: 0 0 0 10px;
}

.count sub{
	bottom: 0;
}